h1{
  display:flex;
  justify-content:space-evenly;
  align-items:center;
  font-size: large;
}

header{
  text-align: center;
  color: white;
  font-size: 60px;
}

header h1{
  font-style: italic;
}
body{
  background: linear-gradient(to left, black, rgb(162, 130, 238));;
}


.navbar {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    border-collapse:collapse;
    border-radius:5px;
    box-shadow:#d0d0d0 0px 1px 2px 3px; 
}

.navbar li{
        display:block;
        box-sizing:border-box;
        border-left:#e0e0e0 1px solid;
        border-right:#e0e0e0 1px solid;
        background-color: crimson;
        float: left;
       
        }
    
.navbar ul {
        list-style-type: none;
        display: inline;
        margin:0;
        padding:0;
        overflow:hidden;
        background-color:black;
}

 li:last-child {
  border-right: none;
}

li a:hover:not(.active) {
  background-color: #697092;
}


.active {
  background-color: #04AA6D;
}


a {

        display:block;
        padding:14px 16px;
        text-align: center;
        text-decoration: double;
        background-color: rgb(184, 184, 206);
}


body{
        background: linear-gradient(to left, black, violet); 


}

.section {
  background-color:yellow ;

}

.login {
  display: flex;
  position: relative;

}

.login-user {
   height: 1em;
   margin-right: 0.5em;
   vertical-align: bottom;
}
