   body {
  /* another background version repeating-conic-gradient(  black 10%,  violet 15%,  violet 33%)*/
  /* width:2000px;
  height:1000px; */
  /* margin: 0;
  padding: 0; */
  background: linear-gradient(to left, #8a2222, #808080);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.main_container {
display: flex;
    width: 800px;
    height:1200px; 
    /* 100px */
    flex-wrap: wrap;
    margin-bottom: 74px;
    padding-left: 246px;
    flex-direction: row;
    align-content: center;
    /* margin: 0px;
    padding: 82px; */

       
}
.section1{
display: flex;
    height: 235px;
    width: 794px;
    margin-bottom: -5px;
    margin-top: 26px;
    flex-wrap: wrap;
    border-color: yellow;
    border-style: solid;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
}

.boxes#image {
 width:400px;
 height:150px;
 display:flex;
 flex-wrap:nowrap;
 justify-content:left;
 align-items:flex-end ;
 background-color: #8a2222;
   /* width: 500px; */
 border: 1px solid black;
  
 
}
.boxes#info {
  
   background-color: #ccc;
    
    /* width: 150px;
    height: 150px;
    padding-top: 10px;
    padding-bottom: 10`;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px; */

  
}
.boxes#personal_info {
  width:392px;
  /* height:169px; */
  display:flex;
  flex-wrap:wrap;
  justify-content:end;
  align-content:end;
  /* align-content:center; */
  background-color:black;
  color:white;
  
  /* padding-left:260px;
  margin-right:5px; */
}

.boxes#summary{
 display:flex;
 border-top:white solid;
 flex-wrap:wrap;
 justify-content:center;
 background-color:black;
 color:white;
 width: 844px;
}

/* p{
width:50px;
height:50px;
display:flex;
flex-wrap:wrap;
} */


.section2{
    width: 1000px;
    height: 1000px;
    display: flex;
    margin-right: auto;
    padding: 10px;
    flex-wrap: wrap;
    flex-direction: column;
    border-color: white;
    border-style: solid;
    align-items: flex-start;
}

.work_experience{
    text-align: left;

}

.education{
    text-align: left;
}

aside{
background-color:gray ;
  padding: 54px;
  margin: 2px auto;
  width: 353px;
  height: 100px;
  border:1px solid;
  border: 1px solid #000;
  
}



 